/* src/styles/global.css */
@import 'tailwindcss';

@theme {
  --color-moonstone: #6C969D;
  --color-ocean-beach: #0F7173;
  --color-bittersweet: #F05D5E;
  --color-asparagus: #6BAA75;
  --color-old-lace: #FFF4E4;
  --color-raisin-black: #272932;
  --color-wine: #69353F;
  --color-lavendar: #AAA1C8;
  --color-white: #F7FDFF;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Noto Sans", sans;

}

/* Custom hover effect for testimonial patches */
.patch-highlight {
  @apply absolute -z-10 rounded-lg;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Custom easing function */
  transform: scale(1.05);
}

.patch-content {
  @apply relative z-0 overflow-hidden rounded-lg bg-white shadow-md;
  transition: transform 0.2s ease-out;
}

.patch-wrapper:hover .patch-highlight {
  transform: scale(1.15) translate(6px, 6px); /* More dramatic movement */
}

.patch-wrapper:hover .patch-content {
  transform: scale(1.02); /* Subtle zoom on content too */
}